---
name: "Validation gofmt"

defaults:
  run:
    shell: bash

on:
  push:
    branches: [ "main" ]
 
jobs:
  build:
    runs-on: ubuntu-latest
    name: "Build Application"

    steps:
    - name: "Checkout Code: REF ${{github.ref}}"
      uses: actions/checkout@v4
      id: checkout
      with: 
        ref: ${{github.ref}}
        persist-credentials : true
        fetch-depth: 1
        fetch-tags: false
        clean: true

    - name: "Setup Go Environment"
      uses: actions/setup-go@v5.1.0
      id: setup_go
      with:
        go-version-file: "./go.mod"
        cache: true
        cache-dependency-path: "./go.sum"
    
    - run: find . -name "*.go" -exec gofmt -d -e -l {} \;
